* {
    margin: 0;
    padding: 0;
}

:root {
    --a: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
}

.left {
    width: 24vw;
    padding: 7px;
    position: relative;
}

.right {
    width: 75vw;
    position: relative;
}

.home ul li {
    list-style-type: none;
    width: 18px;
    display: flex;
    gap: 7px;
    padding: 5px;
}

ul {
    margin: 1px;
    padding: 8px;
}

.library {
    min-height: 78.5vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 10px 10px 0px;
    gap: 12 px;

}

.footer a {
    color: grey;
    text-decoration: none;
}

.nav * {
    background: transparent;
    border: none;
    padding: 1px;
}

.header {
    background-color: #040404;
    height: 40px;
}

.title>.span {
    font-size: 28px;
    padding: 5px;
    margin: 10px;
}

.playlistContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px;
    overflow-y: auto;
    max-height: 72vh;

}

.card {
    background-color: #222222;
    /* padding: 7px;
    height: 270px; */
    width: 210px;
    min-height: 290px;
    margin: 7px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition: all 0.6s;
}

.card:hover {
    background-color: rgb(53, 52, 52);
    --a: 1;
}

.playlistContainer>.one {
    margin-left: 20px;
}

.card img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
}

.card p {
    font-size: 12px;
    color: gray;
}

.playbtn {
    position: absolute;
    bottom: 95px;
    right: 20px;
    opacity: var(--a);
    transition: all 0.4s ease-out;
}

.playbar {
    position: fixed;
    bottom: 20px;
    background-color: rgb(224, 222, 222);
    width: 73vw;
    min-height: 80px;
    align-content: center;
    justify-content: center;
    justify-self: center;
    border-radius: 500px;
    filter: invert(1);

}

.songbtns {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.songbtns img {
    height: 35px;
    cursor: pointer;
}

.songlist {
    height: 650px;
    overflow-y: scroll;
    margin: 25px 0px;
}

.songlist ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.songlist ul li {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    background-color: #222222;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    width: 320px;
}

.playsonglist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 7px;
    top: 14px;
}

.playsonglist img {
    width: 25px;
}

.soname {
    max-width: 170px;
    overflow-wrap: break-word;
    white-space: normal;
}

.artist {
    opacity: 50%;
}

.sinfo {
    width: 250px;
}

.seekbar {
    border: 1px solid black;
    background-color: black;
    width: 96%;
    height: 1px;
    position: absolute;
    bottom: 10px;
    justify-self: center;
    border-radius: 100px;
    cursor: pointer;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
    position: relative;
    bottom: 9.5px;
    left: 0%;
    transition: left 0.5s;
}

.aboveseek {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin-bottom: 25px;
    padding: 0px 50px;
}

.hamburger {
    display: none;
    width: 30px;
    cursor: pointer;
}

.close {
    display: none;
    position: absolute;
    top: 35px;
    right: 30px;
    width: 30px;
    cursor: pointer;
}

.timevol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

@media (max-width: 1500px) {
    .left {
        position: absolute;
        z-index: 1;
        left: -120%;
        transition: all .5s;
        width: 430px;
        background-color: black;
        justify-content: center;
        padding: 0;
    }

    .p1-1 {
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: 99vw;
    }

    .aboveseek {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .seekbar {
        width: 90%;
    }

    .hamburger {
        display: block;
    }

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close {
        display: block;
    }

    .playlistContainer {
        margin: 0;
        justify-content: center;
        
    }

    .card {
        width: 80vw;
    }

    .playbtn {
        bottom: 60px;
        right: 25px;
    }

    .sinfo {
        width: auto;
    }

    .timevol {
        flex-direction: column;
        gap: 10px;
    }
}